K3S_TOKEN={{ k3s_token }}
K3S_NODE_NAME={{ inventory_hostname }}
{% if k3s_external_db.enabled %}
K3S_DATASTORE_ENDPOINT={% for host in groups['etcd'] %}{{ hostvars[host]['ansible_facts']['hostname'] }}=http://{{ hostvars[host]['ansible_facts']['hostname'] }}:2379{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
{% if inventory_hostname in k3s_agent_nodes %}
K3S_URL={% for host in k3s_master_nodes %}http://{{ host }}:6443{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}